:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --chat-bg: #FFFFFF;
  --input-color: #747881;
  --btn-border: #DBDDE1;
  --btn-border-hover: #606060;
  --main-text: #080707;
  --accent-primary-pressed: #004CCC;
  --text-high-emphasis: #080707;
  --text-low-emphasis: #747881;
  --input-bg: #E9EAED;
}

.messages::-webkit-scrollbar {
  display: none;
}